.place__website-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 12px;
  color: #fff;
  text-decoration: underline;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.place__website-link:hover {
  opacity: .8;
}